<app-navbar></app-navbar>
<header>
    <a id="hero"></a>

    <div class="hero-image">
        <div class="fade">
            <div class="wrapper">
                <br><br><br><br><br>
                <h2>Freez te forme</h2>
                <h4 class="highlight">Gagne de l’expérience et de <br>l’argent selon ton emploi du<br> temps.</h4>
                <button class="btn" scrollTo href="#entreprise">Je me lance !</button>
                <div class="arrow arrow-first"></div>
                <div class="arrow arrow-second"></div>
            </div>
        </div>
    </div>
</header>