<a id="footer"></a>
<footer class="footer-distributed">
    <div class="footer-left">
        <h1>Freez<span class="color">.</span></h1>
        <p class="footer-links">
            <a href="#">Connexion</a> ·
            <a href="#">Espace Entreprise</a> ·
        </p>
        <p class="footer-company-name">Freez &copy; 2017</p>
    </div>
    <div class="footer-center">
        <div>
            <i class="material-icons">home</i>
            <p><span>Grande rue </span>97850 Village Perdu</p>
        </div>
        <div>
            <i class="material-icons">phone</i>
            <p>+33 07.68.04.30.26</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:contact@freez.com">contact@freez.com</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>Horaires</span>
        </p>
    </div>
</footer>