<header>
    <nav id="navbar" class="" [ngClass]="{'page-scroll-header': isScrolled}">
        <div class="nav-wrapper">
            <div class="logo">
                <a routerLink="/accueil">Freez</a>
            </div>
            <ul id="menu">
                <li><a routerLink="/vlog">Vlog</a></li>
                <li><a href="#login" routerLink="/login">Connexion</a></li>
                <li><a class="btn" routerLink="/entreprise">Espace Entreprise</a></li>
                <li><a routerLink="/home"><i class="material-icons">account_circle</i></a></li>
            </ul>
        </div>
    </nav>
</header>