<header>
    <nav id="navbar" class="" [ngClass]="{'page-scroll-header': isScrolled}">
        <div class="nav-wrapper">
            <div class="logo">
                <a>Freez</a>
            </div>
            <ul id="menu">
                <li><a routerLink="/vlogs">Vlog</a></li>
                <li><a href="#login" routerLink="/login">Déconnexion</a></li>
                <li><a routerLink="/home"><i class="material-icons">account_circle</i></a></li>
            </ul>
        </div>
    </nav>
</header>
<div class="wrapper">
    <div class="titre">
        <h1>Nos Formations</h1>
    </div>
    <div class="flex-wrapper">
        <div class="webpage">
            <h1 class="title">Facebook <br/> Ads</h1>
            <button class="cta-button">
            Voir plus
            </button>
            <div class="right-triangle">
            </div>
        </div>
        <div class="webpage2">
            <h1 class="title2">Editing <br/> Vidéo</h1>
            <button class="cta-button">
            Voir plus
            </button>
            <div class="right-triangle">
            </div>
        </div>
    </div>
</div>