<header>
    <nav id="navbar" class="" [ngClass]="{'page-scroll-header': isScrolled}">
        <div class="nav-wrapper">
            <div class="logo">
                <a>Freez</a>
            </div>
            <ul id="menu">
                <li><a routerLink="/formations">Formations</a></li>
                <li><a href="#login" routerLink="/login">Déconnexion</a></li>
                <li><a routerLink="/home"><i class="material-icons">account_circle</i></a></li>
            </ul>
        </div>
    </nav>
</header>
<div class="hero-header">
</div>
<div class="wrapper">
    <div class="flex-wrapper">
        <div class="cont">
            <div class="text">
                <div class="inner">
                    <h1 class="title">Un entretien ?</h1>
                    <p class="details">Go to space for free using the code <b>gotospace</b>.</p>
                </div>
            </div>
        </div>
        <div class="cont2">
            <div class="text">
                <div class="inner">
                    <h1 class="title">Meetup</h1>
                    <p class="details">Go to space for free using the code <b>gotospace</b>.</p>
                </div>
            </div>
        </div>
        <div class="cont3">
            <div class="text">
                <div class="inner">
                    <h1 class="title">Startup Genius</h1>
                    <p class="details">Go to space for free using the code <b>gotospace</b>.</p>
                </div>
            </div>
        </div>
        <div class="cont4">
            <div class="text">
                <div class="inner">
                    <h1 class="title">A space card</h1>
                    <p class="details">Go to space for free using the code <b>gotospace</b>.</p>
                </div>
            </div>
        </div>
        <div class="cont5">
            <div class="text">
                <div class="inner">
                    <h1 class="title">A space card</h1>
                    <p class="details">Go to space for free using the code <b>gotospace</b>.</p>
                </div>
            </div>
        </div>
        <div class="cont6">
            <div class="text">
                <div class="inner">
                    <h1 class="title">A space card</h1>
                    <p class="details">Go to space for free using the code <b>gotospace</b>.</p>
                </div>
            </div>
        </div>
    </div>
</div>