<app-navbar></app-navbar>
<div class="hero-header">
</div>
<div class="wrapper">
    <div class="flex-wrapper">
        <div class="cont">
            <div class="text">
                <div class="inner">
                    <h1 class="title">Un entretien ?</h1>
                    <p class="details">Go to space for free using the code <b>gotospace</b>.</p>
                </div>
            </div>
        </div>
        <div class="cont2">
            <div class="text">
                <div class="inner">
                    <h1 class="title">Meetup</h1>
                    <p class="details">Go to space for free using the code <b>gotospace</b>.</p>
                </div>
            </div>
        </div>
        <div class="cont3">
            <div class="text">
                <div class="inner">
                    <h1 class="title">Startup Genius</h1>
                    <p class="details">Go to space for free using the code <b>gotospace</b>.</p>
                </div>
            </div>
        </div>
        <div class="cont4">
            <div class="text">
                <div class="inner">
                    <h1 class="title">A space card</h1>
                    <p class="details">Go to space for free using the code <b>gotospace</b>.</p>
                </div>
            </div>
        </div>
        <div class="cont5">
            <div class="text">
                <div class="inner">
                    <h1 class="title">A space card</h1>
                    <p class="details">Go to space for free using the code <b>gotospace</b>.</p>
                </div>
            </div>
        </div>
        <div class="cont6">
            <div class="text">
                <div class="inner">
                    <h1 class="title">A space card</h1>
                    <p class="details">Go to space for free using the code <b>gotospace</b>.</p>
                </div>
            </div>
        </div>
    </div>
</div>