<app-header2></app-header2>
<div class="section">
    <div class="selec">
        <div class="wrapper">
            <br><br><br><br><br>
            <h2>Gagne en expérience</h2>
            <div clas="lorem">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat tortor nisi, ut vulputate ipsum tempor eget. Donec quis ipsum nec justo imperdiet maximus dapibus in arcu. </p>
                <p>Duis id ante ut velit consequat pretium. Nulla felis mauris, tristique elementum massa tincidunt, suscipit volutpat ante.</p>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec feugiat tortor nisi, ut vulputate ipsum tempor eget. Donec quis ipsum nec justo imperdiet maximus dapibus in arcu. </p>
                <p>Duis id ante ut velit consequat pretium. Nulla felis mauris, tristique elementum massa tincidunt, suscipit volutpat ante.</p>
                <br>
                <p>Duis id ante ut velit consequat pretium. Nulla felis mauris, tristique elementum massa tincidunt, suscipit volutpat ante.</p>
            </div>
            <i class="sprite sparkle one"></i>
            <i class="sprite sparkle two"></i>
            <i class="sprite pop tree"></i>
            <i class="sprite cross four"></i>
            <i class="sprite cross five"></i>
            <i class="sprite pop six"></i>
            <i class="sprite cross seven"></i>
            <div class="userExperience">
            </div>
        </div>
    </div>
</div>
<div class="section-bis">
    <canvas id="c">
    </canvas>
    <div class="wrapper-item">
        <div class="persona">
            <div class="persona-one">
            </div>
            <h2>John Doe</h2>
            <br>
            <h5>
                Proin tellus dolor, efficitur nec fermentum quis, tempus non libero. In blandit luctus massa ut mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus et dui sed nibh sodales posuere euismod id urna.
            </h5>
            <br>
            <h5>
                Proin tellus dolor, efficitur nec fermentum quis, tempus non libero. In blandit luctus massa ut mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus et dui sed nibh sodales posuere euismod id urna.
            </h5>
            <h5>
                Per inceptos himenaeos. Vivamus et dui sed nibh sodales posuere euismod id urna.
            </h5>
        </div>
        <div class="persona">
            <div class="persona-two">
            </div>
            <h2>John Doe</h2>
            <br>
            <h5>
                Proin tellus dolor, efficitur nec fermentum quis, tempus non libero. In blandit luctus massa ut mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus et dui sed nibh sodales posuere euismod id urna.
            </h5>
            <br>
            <h5>
                Proin tellus dolor, efficitur nec fermentum quis, tempus non libero. In blandit luctus massa ut mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus et dui sed nibh sodales posuere euismod id urna.
            </h5>
            <h5>
                Per inceptos himenaeos. Vivamus et dui sed nibh sodales posuere euismod id urna.
            </h5>
        </div>
        <div class="persona">
            <div class="persona-tree">
            </div>
            <h2>John Doe</h2>
            <br>
            <h5>
                Proin tellus dolor, efficitur nec fermentum quis, tempus non libero. In blandit luctus massa ut mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus et dui sed nibh sodales posuere euismod id urna.
            </h5>
            <br>
            <h5>
                Proin tellus dolor, efficitur nec fermentum quis, tempus non libero. In blandit luctus massa ut mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus et dui sed nibh sodales posuere euismod id urna.
            </h5>
            <h5>
                Per inceptos himenaeos. Vivamus et dui sed nibh sodales posuere euismod id urna.
            </h5>
        </div>
    </div>
</div>